EMonitor/bin/AndroidManifest.xml
EMonitor/bin/classes.dex
*.class
EMonitor/bin/dexedLibs/android-support-v4-eca5f129b78f91bcf9cd834b35c0a529.jar
EMonitor/bin/dexedLibs/appcompat_v7-328e9716fd6c130c1ecd12a090b47fa7.jar
EMonitor/bin/dexedLibs/android-support-v7-appcompat-8e1767d789e90ad66f4be9eafc9d6517.jar
EMonitor/bin/jarlist.cache
EMonitor/bin/R.txt
EMonitor/bin/res/crunch/drawable-hdpi/ic_launcher.png
EMonitor/bin/res/crunch/drawable-mdpi/ic_launcher.png
EMonitor/bin/res/crunch/drawable-xxhdpi/ic_launcher.png
EMonitor/bin/resources.ap_
EMonitor/bin/res/crunch/drawable-xhdpi/ic_launcher.png
EMonitor/gen/android/support/v7/appcompat/R.java
EMonitor/gen/com/example/emonitor/BuildConfig.java
EMonitor/gen/com/example/emonitor/R.java
EMonitor/.project
EMonitor/.classpath
EMonitor/bin/dexedLibs/android-support-v4-4c37aec05c8d56d02dd4c33988a8ca68.jar